<div data-is-imperial="0" data-ok="" class="height-u-1">
    <div class="weather-info height-u-1">
        <div class="weather-icon absolute margin-10" data-weather-icon=""></div>
        <div class="weather-location font-lg lcase">
            <span class="weather-location-city"></span>
            <span class="weather-location-country"></span>
        </div>
        <div class="weather-location font-sm lcase">
            <span class="weather-description"></span>
        </div>
        <div class="weather-temperature font-xl bold"></div>
        <div class="bold ucase weather-temperature-min" style="width:25%;">
            <i class="fa fa-arrow-circle-down"></i>
            <span></span>
        </div>
        <div class="bold ucase weather-temperature-max" style="width:25%;">
            <i class="fa fa-arrow-circle-up"></i>
            <span></span>
        </div>
        <ul data-weather-forecast="0" class="pure-u-1 menu-table height-u-1 weather-forecast bold">
            <li style="width:15%"><div class="forecast-icon" data-weather-icon="" title=""></div></li>
            <li class="forecast-datetime"></li>
            <li style="width:15%" class="text-right forecast-temperature"></li>
            <li style="width:15%" class="text-right forecast-temperature-min"></li>
            <li style="width:15%" class="text-right forecast-temperature-max"></li>
        </ul>
        <ul data-weather-forecast="1" class="pure-u-1 menu-table height-u-1 weather-forecast bold">
            <li style="width:15%"><div class="forecast-icon" data-weather-icon="" title=""></div></li>
            <li class="forecast-datetime"></li>
            <li style="width:15%" class="text-right forecast-temperature"></li>
            <li style="width:15%" class="text-right forecast-temperature-min"></li>
            <li style="width:15%" class="text-right forecast-temperature-max"></li>
        </ul>
    </div>
</div>